body{
  color: #000;
  text-align: center;
}
div.contenedor{
  width: 90%;
  max-width: 566px;
  background: green;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  
}

div{
  background:#fff;
  border: 2px solid #000;
  margin: 0 2px;
  padding: 10px 0px;
  font-weight: bold;
}
.mora{
  color:red;
}
.abono{
  color:blue;
}
.monto{
  color:yellow;
}
div.contenedor{
  display: grid;
  grid-template-columns: 50% 50% 
  
}
